
PORT=port
DATABASE_URL= POSTGRES_BD_URL
APP_URL = url

JWT_ACCESS_SECRET= ACCESS_SECRET
JWT_REFRESH_SECRET= REFRESH_SECRET
JWT_ACCESS_EXPIRES_ID= ACCESS_EXPIRES_ID
JWT_REFRESH_EXPIRES_ID= REFRESH_EXPIRES_ID


STRIPE_PRODUCT_ID = your_product_id
STRIPE_SECRET_KEY = your_stripe_secret